:root {
  --bg-color: #1e1e1e;
  --bg-color-lighter: #1e1e1e;
  --white: white;
  --text-light: #ccc;
  --neutral-text-gradient: linear-gradient(to top, #ddd, #999);
  --win-text-gradient: linear-gradient(to top, #81c784, #4caf50);
  --loss-text-gradient: linear-gradient(to top, #e57373, #f44336);
  --neutral-image-gradient: linear-gradient(to top, transparent, #aaa 50%, transparent);
  --win-image-gradient: linear-gradient(to top, transparent, #4caf50 50%, transparent);
  --loss-image-gradient: linear-gradient(to top, transparent, #f44336 50%, transparent);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
