.elo-toggle {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .elo-toggle button {
    background-color: #1e1e1e;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 0;
  }
  
  .elo-toggle button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
  }
  
  .elo-toggle button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .elo-toggle button.active {
    background-image: linear-gradient(to top, #f03a3a, #f21c0d);
    color: white;
    cursor: default;
  }