.fighter-table-container {
    margin-top: 2rem;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 8px;
    color: var(--text-light);

    max-width: 100%;
    overflow-x: auto;
  }
  
  .fighter-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: clamp(0.8rem, 4vw, 1.1rem)
  }
  
  .fighter-table th,
  .fighter-table td {
    border: 1px solid #444;
    padding: 0.5rem;
    text-align: center;
  }
  
  .fighter-table th {
    background-color: var(--bg-color-lighter);
  }
  
  .fighter-table tbody tr:nth-child(even) {
    background-color: var(--bg-color-lighter);
  }

  .fighter-link {
    color: var(--text-light);
    text-decoration: none;
  }
  
  .fighter-link:hover {
    text-decoration: underline;
    color: #fff;
  }

  @media (max-width: 410px) {

    .fighter-table-container {
      padding: 1rem 0rem 1rem 0rem
    }
  }