  .fighter-content {
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 8rem 2rem 8rem 2rem;
    color: #fff;
  }

  .fighter-card {
    background-color: var(--bg-color);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    border: 1px solid var(--text-light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
    margin: 0 auto;
  }
  
  .fighter-loading {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
  }


  @media (max-width: 754px) {
  
    .fighter-name-record {
      text-align: center;
    }
  } 

  @media (max-width: 400px) {
  
    .fighter-content {
      padding: 8rem 1rem 8rem 1rem;
    }

  }

