.header {
  display: flex;
  align-items: flex-end;
  padding: 3rem 0rem 0rem 0rem;
  background-color: var(--bg-color);
  justify-content: center;
}

.ufc-logo {
  height: clamp(3rem, 12vw, 4.5rem);
  cursor: pointer;
}

.header p {
    color: white;
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    margin: 0;
    line-height: 1;
    font-style: italic;
  }